<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>执行方案列表</title>
  <link href="./libs/element-ui/2.15.3/theme-chalk/index.css" rel="stylesheet" />
  <style>
    .expand__table {
      width: 100%;
    }

    .expand__table td {
      padding-left: 20px;
    }

    .el-table__expanded-cell {
      padding-right: 0 !important;
    }

    .pointer {
      cursor: pointer;
    }

    .tac {
      text-align: center;
    }

    .table-wrap {
      width: 100%;
      margin-bottom: 20px;
    }

    .form-item__pb0 {
      margin-bottom: 0 !important;
    }

    .el-button+.el-button {
      margin-left: 0;
    }

    .col-width-auto {
      width: auto;
    }

    .form-item__mb0 {
      margin-bottom: 0 !important;
    }

    /* 设置dialog宽度 */
    .el-dialog {
      width: 600px !important;
    }

    .dialogWidth>.el-dialog {
      width: 1000px !important;
    }
  </style>
</head>

<body>
  <script src="./mockdata.js"></script>

  <div id="app">
    <template>
      <el-form :inline="true" :model="filter" size="small">
        <el-form-item style="margin-right:0" label="关键字:">
          <el-input v-model="filter.name" placeholder="执行方案名称" :clearable="true"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearch">查询</el-button>
          <el-button type="primary" @click="onAdd()">创建执行方案</el-button>
        </el-form-item>
      </el-form>

      <el-table :data="tableData" class="table-wrap" border align="center">
        <el-table-column label="执行方案名称" prop="name"></el-table-column>
        <el-table-column label="奖品定向关联数(个)">
          <template slot-scope="scope">
            <span v-if="scope.row.prizeCount<=0" type="text" size="small">0</span>
            <el-button v-else type="text" size="small" @click="showApplicationList(scope.row)">{{scope.row.prizeCount}}
            </el-button>
          </template>
        </el-table-column>
        <el-table-column label="地域">
          <template slot-scope="scope">
            {{scope.row.areaType==0? "不限":""}}
            {{scope.row.areaType==1? "省市区":""}}
            {{scope.row.areaType==2? "线级":""}}
          </template>
        </el-table-column>
        <el-table-column label="性别">
          <template slot-scope="scope">
            {{scope.row.sex==0? "不限":""}}
            {{scope.row.sex==1? "男":""}}
            {{scope.row.sex==2? "女":""}}
          </template>
        </el-table-column>
        <el-table-column label="联网">
          <template slot-scope="scope">
            {{scope.row.networking.split(",").indexOf("0")!=-1?"不限":""}}
            {{scope.row.networking.split(",").indexOf("1")!=-1?"wifi":" "}}
            {{scope.row.networking.split(",").indexOf("2")!=-1?"移动":" "}}
            {{scope.row.networking.split(",").indexOf("3")!=-1?"联通":" "}}
            {{scope.row.networking.split(",").indexOf("4")!=-1?"电信":" "}}
          </template>
        </el-table-column>
        <el-table-column label="工具">
          <template slot-scope="scope">
            {{scope.row.scanContent==0? "不限":""}}
            {{scope.row.scanContent==1? "微信":""}}
            {{scope.row.scanContent==2? "支付宝":""}}
          </template>
        </el-table-column>
        <el-table-column label="时段" prop="planNumber">

        </el-table-column>
        <el-table-column label="节假日">
          <template slot-scope="scope">
            {{scope.row.holidays.split(",").indexOf("0")!=-1?"不限":""}}
            {{scope.row.holidays.split(",").indexOf("1")!=-1?"节假日":" "}}
            {{scope.row.holidays.split(",").indexOf("2")!=-1?"工作日":" "}}
            {{scope.row.holidays.split(",").indexOf("3")!=-1?"星期一":" "}}
            {{scope.row.holidays.split(",").indexOf("4")!=-1?"星期二":" "}}
            {{scope.row.holidays.split(",").indexOf("5")!=-1?"星期三":" "}}
            {{scope.row.holidays.split(",").indexOf("6")!=-1?"星期四":" "}}
            {{scope.row.holidays.split(",").indexOf("7")!=-1?"星期五":" "}}
            {{scope.row.holidays.split(",").indexOf("8")!=-1?"星期六":" "}}
            {{scope.row.holidays.split(",").indexOf("9")!=-1?"星期日":" "}}
          </template>
        </el-table-column>
        <el-table-column label="设备">
          <template slot-scope="scope">
            {{scope.row.devices.split(",").indexOf("0")!=-1?"不限":""}}
            {{scope.row.devices.split(",").indexOf("1")!=-1?"ios":" "}}
            {{scope.row.devices.split(",").indexOf("2")!=-1?"Android":" "}}
            {{scope.row.devices.split(",").indexOf("3")!=-1?"HarmonyOS":" "}}
          </template>
        </el-table-column>
        <el-table-column label="应用状态">
          <template slot-scope="scope">
            {{scope.row.status==0? "未应用":""}}
            {{scope.row.status==1? "已应用":""}}
          </template>
        </el-table-column>

        <el-table-column label="操作" width="170">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="applicationFn(scope.row)">应用</el-button>
            <el-button type="text" size="small" @click="lookFn(scope.row)">查看</el-button>
            <el-button type="text" size="small" @click="onEdit(scope.row)">编辑</el-button>
            <el-button type="text" size="small" @click="onDel(scope.row)" v-if="scope.row.status==0">删除</el-button>
            <el-button type="text" size="small" @click="copyPlan(scope.row)">复制</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination class="tac" background layout="prev, pager, next" :total="page.total"
        :current-page.sync="filter.pageNum" :page-size.sync="filter.pageSize" @current-change="fetchList">
      </el-pagination>


      <el-dialog title="定向详情" class="dialogWidth" :visible.sync="orientationDetailVisible" center>
        <orientation-details :type="orientationDetailProps.type" :islook="orientationDetailProps.islook" :id="rows.id"
          :id="rows.id" :isshowtoptitle="orientationDetailProps.isshowtoptitle">
        </orientation-details>
      </el-dialog>

      <!-- 奖品列表弹框 -->
      <el-dialog title="奖品列表" :visible.sync="prizeVisible" center>
        <div style="margin-bottom: 20px">执行方案名称: {{rows.name}}</div>
        <!-- 表单 -->
        <el-form ref="prizeForm" size="mini" :inline="true" :model="prizeForm" class="demo-form-inline">
          <el-row>
            <el-col :span="12">
              <el-form-item style="margin-right:0" label="关键字:" prop="prizeName" :rules="[
          { required: true, message: '关键字不能为空'}
        ]">
                <el-input v-model="prizeForm.prizeName" placeholder="请输入内容" :clearable="true"></el-input>
              </el-form-item>
            </el-col>
            <!-- <el-col :span="6">
              <el-form-item label="" prop="region" :rules="[
          { required: true, message: '请选择'}
        ]">
                <el-select v-model="prizeForm.region" placeholder="">
                  <el-option label="奖品名称" value="prizeName"></el-option>
                  <el-option label="策略名称" value="strategyName"></el-option>
                  <el-option label="素材源名称" value="sourceName"></el-option>
                </el-select>
              </el-form-item>
            </el-col> -->
            <el-col :span="4">
              <el-form-item>
                <el-button type="default" @click="searchPrize">搜索</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>

        <el-table :data="prizeList" class="table-wrap" :border="true" size="mini">
          <el-table-column label="序号" type="index" width="100"></el-table-column>
          <el-table-column label="奖品ID" prop="prizeId"></el-table-column>
          <el-table-column label="奖品名称" prop="prizeName"></el-table-column>
          <el-table-column label="策略名称" prop="strategyName"></el-table-column>
          <el-table-column label="素材源名称" prop="sourceName"></el-table-column>
        </el-table>
        <!-- <el-pagination class="tac" background layout="prev, pager, next" :total="page.total"
          :current-page.sync="filter.pageNum" :page-size.sync="filter.pageSize" @current-change="fetchList">
        </el-pagination> -->
        <span slot="footer" class="dialog-footer">
          <el-button type="default" @click="prizeVisible = false">关 闭</el-button>
        </span>
      </el-dialog>


      <!-- 批量应用弹框 -->
      <el-dialog title="批量应用" :width="'1000px'" :visible.sync="batchApplyVisible" center customClass="customWidth">
        <div style="margin-bottom: 20px;display: flex; justify-content: space-between;align-items: center;">
          <div> 执行方案名称: <span style="font-weight:bold">执行方案A01</span></div>
          <el-button size="mini" type="primary" @click="releaseFn">发布</el-button>
        </div>
        <!-- 表单 -->
        <el-form ref="formInline" size="mini" :inline="true" :model="formInline" class="demo-form-inline">
          <el-row>
            <el-col :span="12">
              <el-form-item style="margin-right:0" label="关键字:" prop="key" :rules="[
              { required: true, message: '关键字不能为空'}
            ]">
                <el-input v-model="formInline.key" placeholder="请输入内容" :clearable="true"></el-input>
              </el-form-item>
            </el-col>
            <!-- <el-col :span="6">
              <el-form-item label="" prop="region" :rules="[
              { required: true, message: '请选择'}
            ]">
                <el-select v-model="formInline.region" placeholder="">
                  <el-option label="奖品ID名称" value="shanghai"></el-option>
                  <el-option label="策略名称" value="beijing1"></el-option>
                  <el-option label="素材源名称" value="beijing2"></el-option>
                </el-select>
              </el-form-item>
            </el-col> -->
            <el-col :span="4">
              <el-form-item>
                <el-button type="default" @click="onSubmit('formInline')">搜索</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <!-- 列表 -->
        <el-table :data="prizeList" class="table-wrap" :border="true" size="mini"
          @selection-change="handleSelectionChange">
          <el-table-column label="序号" type="selection"></el-table-column>
          <el-table-column label="奖品ID名称">
            <template slot-scope="scope">
              10
            </template>
          </el-table-column>
          <el-table-column label="策略名称" prop="planNumber1"></el-table-column>
          <el-table-column label="素材源名称" prop="planNumber2"></el-table-column>
        </el-table>
        <el-pagination class="tac" background layout="prev, pager, next" :total="page.total"
          :current-page.sync="filter.pageNum" :page-size.sync="filter.pageSize" @current-change="fetchList">
        </el-pagination>
        <span slot="footer" class="dialog-footer">
          <el-button type="default" @click="batchApplyVisible = false">关 闭</el-button>
        </span>
      </el-dialog>


      <!-- 复制奖品方案弹框 -->
      <el-dialog title="复制执行方案" :width="'1000px'" :visible.sync="copyPlanVisible" center customClass="customWidth">
        <el-form ref="copyFormInline" :inline="true" :model="copyFormInline" class="demo-form-inline">

          <el-form-item style="margin-right:0" label="执行方案名称:" prop="name" :rules="[
            { required: true, message: '新执行方案名称不能为空'}
          ]">
            <el-input v-model="copyFormInline.name" placeholder="新执行方案名称" :clearable="true"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button style="margin-right:20px" @click="copyPlanVisible = false">取 消</el-button>
          <el-button type="primary" @click="submitCopyForm('copyFormInline')">确 定</el-button>
        </span>
      </el-dialog>
    </template>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="./libs/vue/2.6.12/vue.min.js"></script>
  <script src="./libs/element-ui/2.15.3/index.min.js"></script>
  <script src="./libs/axios/0.21.1/axios.min.js"></script>
  <script src="./js/request.js"></script>


  <script>
    var el = new Vue({
      el: '#app',
      data() {
        return {
          filter: {
            name: '',
            pageNum: 1,
            pageSize: 10,
          },
          page: {
            total: 0,
          },
          tableData: [], // 执行方案列表
          rows: {}, // 当前数据
          // 奖品列表弹框
          prizeForm: {
            prizeName: ""
          },
          prizeList: [],// 奖品列表

          // 批量应用
          applyForm: {
            prizeName: ""
          },
          applyList: [],// 批量应用奖品列表


          orientationDetailVisible: false, // 奖品实际应用方案弹框的显示与隐藏
          orientationDetailProps: {
            type: "dialog",
            look: 1, //是否查看
            isshowtoptitle: 0 //是否展示title
          },

          prizeVisible: false, // 控制奖品列表弹框弹框的展示与隐藏
          copyPlanVisible: false, //复制执行方案的弹框


          batchApplyVisible: false,// 控制批量应用弹框的展示与隐藏
          multipleSelection: [], //批量应用中触发多选
          formInline: {
            user: '123',
            region: 'shanghai'
          },
          copyFormInline: {
            name: ""
          }
        }
      },
      components: {
        'orientation-details': httpVueLoader('./components/orientationDetails.vue'),
      },
      computed: {},
      mounted() {
        window.vue = this;
      },
      methods: {
        // 获取列表
        fetchList() {
          // service({
          //   url: '/prize/orientation/list',
          //   method: 'post',
          //   data: this.filter,
          // }).then(({ data }) => {
          let data = doPlanList.data;

          this.tableData = data.list
          this.page.total = data.total

          // })
        },


        getPrizeList() {
          let params = {
            orientationId: this.rows.id,
            sourceId: "",
            prizeName: this.prizeForm.prizeName
          }

          console.log(params)
          // service({
          //   url: '/prize/orientation/pList',
          //   method: 'post',
          //   data: params,
          // }).then(({ data }) => {
          let data = doPlanPrizeList.data;
          this.prizeList = data.list
          // })
        },

        // 点击列表数字，弹出“奖品列表弹框
        showApplicationList(rows) {
          this.rows = rows;
          this.prizeList = [];
          this.prizeVisible = true;
          this.prizeForm.prizeName = "";
          this.getPrizeList()
        },

        // 搜索奖品列表
        searchPrize() {
          this.showApplicationList(this.rows)
        },

        // 查看
        lookFn(rows) {
          this.rows = rows;
          sessionStorage.setItem("rows", JSON.stringify(rows));
          this.orientationDetailVisible = true;

        },
        // 编辑
        onEdit(rows) {
          this.rows = rows;
          location.href = `./prizeOrientationDetails.html?id=${rows.id}&islook=0&isshowtoptitle=1&type=page`
        },

        // 跳转到新增执行方案
        onAdd(rows) {
          location.href = `./prizeOrientationDetails.html?islook=0&isshowtoptitle=1&type=page`
        },

        // 点击批量应用，弹出“批量应用”弹框
        applicationFn(rows) {
          console.log(rows)
          this.batchApplyVisible = true;
          this.rows = rows;
          this.applyList = [];
          this.prizeVisible = true;

          let params = {
            orientationId: this.rows.id,
            sourceId: "",
            prizeName: this.applyForm.prizeName
          }

          // service({
          //   url: '/prize/orientation/pList',
          //   method: 'post',
          //   data: params,
          // }).then(({ data }) => {
          let data = doPlanPrizeList.data;
          this.prizeList = data.list
          // })



        },
        // 批量应用弹框-触发多选
        handleSelectionChange(val) {
          this.multipleSelection = val;
          console.log(this.multipleSelection)
        },
        // 批量应用弹框-点击发布
        releaseFn() {
          if (!this.multipleSelection.length) {
            this.$message({
              message: '请先勾选数据',
              type: 'warning'
            });
          }
          console.log("点击了发布")
        },




        //搜索
        onSearch() {
          this.filter.pageNum = 1
          this.filter.pageSize = 10
          this.fetchList()
        },
        //启用停用
        getSwitchStatus() {
          service({
            url: '/qmFactoryLine/v1/updateFactory',
            method: 'post',
            data: {
              factoryId: this.rows.id,
              isClose: this.rows.status,
            },
          }).then(() => {
            this.fetchList()
          })
        },
        onDel(rows) {
          this.rows = rows
          this.$confirm('确认删除吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
          })
            .then(() => {
              this.getDel()
            })
            .catch(() => { })
        },
        // 删除
        getDel() {
          service({
            url: '/user/strategy/inversion/delete.shtml',
            method: 'post',
            data: {
              id: this.rows.id,
            },
          }).then(() => {
            this.fetchList()
          })
        },
        onSwitchStatus(rows) {
          this.rows = rows
          this.$confirm('确认切换此状态吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
          })
            .then(() => {
              this.getSwitchStatus()
            })
            .catch(() => { })
        },
        // 切换状态
        getSwitchStatus() {
          service({
            url: '/user/strategy/inversion/switch',
            method: 'put',
            data: {
              id: this.rows.id,
              switch: Number(!this.rows.switch),
            },
          }).then(() => {
            this.fetchList()
          })
        },

        // 批量应用弹框-点击搜索
        // onSubmit() {
        //   console.log('submit!');
        // },
        // 展示复制执行方案弹框
        copyPlan(row) {
          console.log(row)
          this.copyPlanVisible = true;
        },
        onSubmit(formName) {
          console.log(formName)
          this.$refs[formName].validate((valid) => {
            if (valid) {
              console.log(this.formInline)
              console.log(valid)
              // alert('submit!');
            } else {
              // console.log('error submit!!');
              return false;
            }
          });
        },
        // 保存复制
        submitCopyForm(formName) {
          console.log(formName)
          this.$refs[formName].validate((valid) => {
            if (valid) {
              console.log(this.copyFormInline)
              console.log(valid)
              // alert('submit!');
            } else {
              // console.log('error submit!!');
              return false;
            }
          });
        }
      },
      created() {
        this.fetchList()
      },
    })
  </script>
</body>

</html>