<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>执行方案列表</title>
  <link href="./libs/element-ui/2.15.3/theme-chalk/index.css" rel="stylesheet" />
  <style>
    .expand__table {
      width: 100%;
    }

    .expand__table td {
      padding-left: 20px;
    }

    .el-table__expanded-cell {
      padding-right: 0 !important;
    }

    .pointer {
      cursor: pointer;
    }

    .tac {
      text-align: center;
    }

    .table-wrap {
      width: 100%;
      margin-bottom: 20px;
    }

    .form-item__pb0 {
      margin-bottom: 0 !important;
    }

    .el-button+.el-button {
      margin-left: 0;
    }

    .col-width-auto {
      width: auto;
    }

    .form-item__mb0 {
      margin-bottom: 0 !important;
    }

    /* 设置dialog宽度 */
    .el-dialog {
      width: 600px !important;
    }

    .dialogWidth>.el-dialog {
      width: 1000px !important;
    }
  </style>
</head>

<body>
  <script src="./mockdata.js"></script>

  <div id="app">
    <template>
      <el-form :inline="true" :model="filter" size="small">
        <el-form-item style="margin-right:0" label="关键字:">
          <el-input v-model="filter.name" placeholder="执行方案名称" :clearable="true"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearch">查询</el-button>
          <el-button type="primary" @click="onAdd()">创建执行方案</el-button>
        </el-form-item>
      </el-form>

      <el-table :data="tableData" class="table-wrap" border align="center">
        <el-table-column label="执行方案名称" prop="name"></el-table-column>
        <el-table-column label="奖品定向关联数量">
          <template slot-scope="scope">
            <span v-if="scope.row.prizeCount<=0" type="text" size="small">0</span>
            <el-button v-else type="text" size="small" @click="showApplicationList(scope.row)">{{scope.row.prizeCount}}
            </el-button>


          </template>
        </el-table-column>
        <el-table-column label="地域">
          <template slot-scope="scope">
            {{scope.row.areaType==0? "不限":""}}
            {{scope.row.areaType==1? "省市区":""}}
            {{scope.row.areaType==2? "线级":""}}
          </template>
        </el-table-column>
        <el-table-column label="性别" width="80px">
          <template slot-scope="scope">
            {{scope.row.sex==0? "不限":""}}
            {{scope.row.sex==1? "男":""}}
            {{scope.row.sex==2? "女":""}}
          </template>
        </el-table-column>
        <el-table-column label="联网">
          <template slot-scope="scope">
            {{scope.row.networking.split(",").indexOf("0")!=-1?"不限":""}}
            {{scope.row.networking.split(",").indexOf("1")!=-1?"wifi":" "}}
            {{scope.row.networking.split(",").indexOf("2")!=-1?"移动":" "}}
            {{scope.row.networking.split(",").indexOf("3")!=-1?"联通":" "}}
            {{scope.row.networking.split(",").indexOf("4")!=-1?"电信":" "}}
          </template>
        </el-table-column>
        <el-table-column label="工具" width="100px">
          <template slot-scope="scope">
            {{scope.row.scanContent==0? "不限":""}}
            {{scope.row.scanContent==1? "微信":""}}
            {{scope.row.scanContent==2? "支付宝":""}}
          </template>
        </el-table-column>
        <el-table-column label="时段">
          <template slot-scope="scope">
            {{scope.row.timeType==0? "不限":""}}
            {{scope.row.timeType==1? "时间段":""}}
            {{scope.row.timeType==2? "自定义":""}}
          </template>
        </el-table-column>
        <el-table-column label="节假日" width="170px">
          <template slot-scope="scope">
            {{scope.row.holidays.split(",").indexOf("0")!=-1?"不限":""}}
            {{scope.row.holidays.split(",").indexOf("1")!=-1?"节假日":" "}}
            {{scope.row.holidays.split(",").indexOf("2")!=-1?"工作日":" "}}
            {{scope.row.holidays.split(",").indexOf("3")!=-1?"星期一":" "}}
            {{scope.row.holidays.split(",").indexOf("4")!=-1?"星期二":" "}}
            {{scope.row.holidays.split(",").indexOf("5")!=-1?"星期三":" "}}
            {{scope.row.holidays.split(",").indexOf("6")!=-1?"星期四":" "}}
            {{scope.row.holidays.split(",").indexOf("7")!=-1?"星期五":" "}}
            {{scope.row.holidays.split(",").indexOf("8")!=-1?"星期六":" "}}
            {{scope.row.holidays.split(",").indexOf("9")!=-1?"星期日":" "}}
          </template>
        </el-table-column>
        <el-table-column label="设备">
          <template slot-scope="scope">
            {{scope.row.devices.split(",").indexOf("0")!=-1?"不限":""}}
            {{scope.row.devices.split(",").indexOf("1")!=-1?"ios":" "}}
            {{scope.row.devices.split(",").indexOf("2")!=-1?"Android":" "}}
            {{scope.row.devices.split(",").indexOf("3")!=-1?"HarmonyOS":" "}}
          </template>
        </el-table-column>
        <el-table-column label="应用状态">
          <template slot-scope="scope">
            {{scope.row.status==0? "未应用":""}}
            {{scope.row.status==1? "已应用":""}}
          </template>
        </el-table-column>

        <el-table-column label="操作" width="170">
          <template slot-scope="scope">
            <!-- <el-button type="text" size="small" @click="showApplyList(scope.row)">应用</el-button> -->
            <el-button type="text" size="small" @click="lookFn(scope.row)">查看</el-button>
            <el-button type="text" size="small" @click="onEdit(scope.row)">编辑</el-button>
            <el-button type="text" size="small" @click="onDel(scope.row)" v-if="scope.row.status==0">删除</el-button>
            <!-- <el-button type="text" size="small" @click="copyPlan(scope.row)">复制</el-button> -->
          </template>
        </el-table-column>
      </el-table>
      <el-pagination :destroy-on-close="true" class="tac" background layout="prev, pager, next" :total="page.total"
        :current-page.sync="filter.pageNum" :page-size.sync="filter.pageSize" @current-change="fetchList">
      </el-pagination>

      <el-dialog title="定向详情" class="dialogWidth" :visible.sync="orientationDetailVisible" center>
        <template v-if="orientationDetailVisible">
          <orientation-details :type="orientationDetailProps.type" :islook="orientationDetailProps.islook" :id="rows.id"
            :id="rows.id" :isshowtoptitle="orientationDetailProps.isshowtoptitle">
          </orientation-details>
        </template>
      </el-dialog>



      <!-- 奖品列表弹框 -->
      <el-dialog title="奖品列表" :visible.sync="prizeVisible" center class="dialogWidth">
        <div style="margin-bottom: 20px">执行方案名称: {{rows.name}}</div>
        <!-- 表单 -->
        <el-form ref="prizeForm" size="default" :inline="true" :model="prizeForm" class="demo-form-inline">
          <el-row>
            <el-col :span="8">
              <el-form-item style="margin-right:0" label="关键字:" prop="prizeName">
                <el-input v-model="prizeForm.prizeName" placeholder="请输入内容" :clearable="true"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item>
                <el-button type="default" @click="searchPrize">搜索</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>

        <el-table :data="prizeList" class="table-wrap" :border="true" size="mini" height="300">
          <el-table-column label="序号" type="index" width="50"></el-table-column>
          <el-table-column label="奖品ID" prop="prizeId" width="300px"></el-table-column>
          <el-table-column label="奖品名称" prop="prizeName"></el-table-column>
          <el-table-column label="策略名称" prop="strategyName"></el-table-column>
          <el-table-column label="素材源名称" prop="sourceName"></el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
          <el-button type="default" @click="prizeVisible = false">关 闭</el-button>
        </span>
      </el-dialog>


      <!-- 批量应用弹框 -->
      <el-dialog title="批量应用" class="dialogWidth" :visible.sync="applyVisible" center customClass="customWidth">
        <div style="margin-bottom: 20px;display: flex; justify-content: space-between;align-items: center;">
          <div> 执行方案名称: <span style="font-weight:bold">{{rows.name}}</span></div>
          <el-button size="mini" type="primary" @click="releaseFn">发布</el-button>
        </div>
        <!-- 表单 -->
        <el-form ref="applyForm" size="default" :inline="true" :model="applyForm" class="demo-form-inline">
          <el-row>
            <el-col :span="8">
              <el-form-item style="margin-right:0" label="关键字:" prop="prizeName">
                <el-input v-model="applyForm.prizeName" placeholder="请输入内容" :clearable="true"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="2">
              <el-form-item>
                <el-button type="default" @click="searchApply">搜索</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <!-- 列表 -->
        <el-table :data="applyList" class="table-wrap" :border="true" size="mini" height="300px"
          @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="55"> </el-table-column>
          <el-table-column label="序号" type="index" width="50"></el-table-column>
          <el-table-column label="奖品ID" prop="prizeId" width="300px"></el-table-column>
          <el-table-column label="奖品名称" prop="prizeName"></el-table-column>
          <el-table-column label="策略名称" prop="strategyName"></el-table-column>
          <el-table-column label="素材源名称" prop="sourceName"></el-table-column>
          <span slot="footer" class="dialog-footer">
            <el-button type="default" @click="applyVisible = false">关 闭</el-button>
          </span>
      </el-dialog>

      <!-- 复制奖品方案弹框 -->
      <el-dialog title="复制执行方案" :width="'1000px'" :visible.sync="copyPlanVisible" center customClass="customWidth">
        <el-form ref="copyForm" :inline="true" :model="copyForm" class="demo-form-inline">

          <el-form-item style="margin-right:0" label="执行方案名称:" prop="name" :rules="[
            { required: true, message: '新执行方案名称不能为空'}
          ]">
            <el-input v-model="copyForm.name" placeholder="新执行方案名称" :clearable="true"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button style="margin-right:20px" @click="copyPlanVisible = false">取 消</el-button>
          <el-button type="primary" @click="submitCopyForm('copyForm')">确 定</el-button>
        </span>
      </el-dialog>
    </template>
  </div>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="./libs/vue/2.6.12/vue.min.js"></script>
  <script src="./libs/element-ui/2.15.3/index.min.js"></script>
  <script src="./libs/axios/0.21.1/axios.min.js"></script>
  <script src="./js/request.js"></script>
  <script src="https://cdn.bootcss.com/lodash.js/4.17.12-pre/lodash.min.js"></script>


  <script>
    var el = new Vue({
      el: '#app',
      data() {
        return {
          filter: {
            name: '',
            pageNum: 1,
            pageSize: 10,
          },
          page: {
            total: 0,
          },
          tableData: [], // 执行方案列表
          rows: {}, // 当前数据
          // 奖品列表弹框
          prizeForm: {
            prizeName: ""
          },
          prizeList: [],// 奖品列表
          prizeVisible: false, // 控制奖品列表弹框弹框的展示与隐藏
          // 批量应用
          applyForm: {
            prizeName: ""
          },
          applyList: [],// 批量应用奖品列表
          applyVisible: false,// 控制批量应用弹框的展示与隐藏
          orientationDetailVisible: false, // 奖品实际应用方案弹框的显示与隐藏
          multipleSelection: [], //批量应用中触发多选

          // 定向详情传参
          orientationDetailProps: {
            type: "dialog",
            islook: 1, //是否查看
            isshowtoptitle: 0 //是否展示title
          },

          // 复制功能，本期未开放，保留
          copyPlanVisible: false, //复制执行方案的弹框
          copyForm: {
            name: ""
          }
        }
      },
      components: {
        'orientation-details': httpVueLoader('./components/orientationDetails.vue'),
      },
      computed: {},
      mounted() {
        window.vue = this;
      },
      methods: {
        //搜索执行方案列表
        onSearch() {
          this.filter.pageNum = 1
          this.filter.pageSize = 10
          this.fetchList()
        },

        // 获取列表
        fetchList() {
          console.log(JSON.stringify(this.filter))

          // service({
          //   url: '/prize/orientation/list',
          //   method: 'post',
          //   data: this.filter,
          // }).then(({ data }) => {
          let data = doPlanList.data;

          this.tableData = data.list
          this.page.total = data.total

          // })
        },

        // 奖品列表
        getPrizeList() {
          let params = {
            orientationId: this.rows.id,
            sourceId: "",
            prizeName: this.prizeForm.prizeName
          }

          console.log(params)
          // service({
          //   url: '/prize/orientation/pList',
          //   method: 'post',
          //   data: params,
          // }).then(({ data }) => {
          let data = doPlanPrizeList.data;
          this.prizeList = data.list
          // })
        },

        // 奖品列表-点击列表数字，弹出“奖品列表弹框
        showApplicationList(rows) {
          this.rows = rows;
          this.prizeList = [];
          this.prizeVisible = true;
          this.prizeForm.prizeName = "";
          this.getPrizeList()
        },

        // 奖品列表-搜索奖品列表
        searchPrize() {
          this.getPrizeList(this.rows)
        },

        // 应用列表
        getApplyList() {
          let params = {
            orientationId: this.rows.id,
            sourceId: "",
            prizeName: this.applyForm.prizeName
          }

          console.log(params)
          // service({
          //   url: '/prize/orientation/pList',
          //   method: 'post',
          //   data: params,
          // }).then(({ data }) => {
          let data = doPlanApplyList.data;
          this.applyList = data.list
          // })
        },

        // 应用列表-点击列表数字，弹出“应用列表弹框
        showApplyList(rows) {
          this.rows = rows;
          this.applyList = [];
          this.applyVisible = true;
          this.applyForm.prizeName = "";
          this.getApplyList()
        },

        // 应用列表-搜索应用列表
        searchApply() {
          this.getApplyList(this.rows)
        },

        // 批量应用弹框-触发多选
        handleSelectionChange(val) {
          this.multipleSelection = val;
        },
        // 批量应用弹框-点击发布
        releaseFn() {
          if (!this.multipleSelection.length) {
            this.$message({
              message: '请先勾选数据',
              type: 'warning'
            });
          }
          console.log("点击了发布")
        },

        // 查看
        lookFn(rows) {
          this.rows = rows;
          console.log(rows)
          sessionStorage.setItem("rows", JSON.stringify(rows));
          this.orientationDetailVisible = true;
        },
        // 编辑
        onEdit(rows) {
          this.rows = rows;
          console.log(rows)
          sessionStorage.setItem("rows", JSON.stringify(rows));
          location.href = `./prizeOrientationDetails.html?id=${rows.id}&islook=0&isshowtoptitle=1&type=page`
        },

        // 跳转到新增执行方案
        onAdd(rows) {
          location.href = `./prizeOrientationDetails.html?islook=0&isshowtoptitle=1&type=page`
        },

        onDel(rows) {
          this.rows = rows
          this.$confirm('确认删除吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
          })
            .then(() => {
              this.getDel()
            })
            .catch(() => { })
        },

        // 删除
        getDel() {
          let params = {
            orientationId: this.rows.id,
          }
          service({
            url: 'prize/orientation/delOrientationMP',
            method: 'post',
            data: params
          }).then(() => {
            this.fetchList()
          }).catch((err)=>{
            this.$message.error(err.msg);
          })
        },

        // 展示复制执行方案弹框
        copyPlan(row) {
          this.copyPlanVisible = true;
          this.rows = row;
        },

        // 保存复制
        submitCopyForm(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              console.log(this.copyForm)
            } else {
              return false;
            }
          });
        }
      },
      created() {
        this.fetchList()
      },
    })
  </script>
</body>

</html>