<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> 奖品实际应用方案</title>
  <link href="./libs/element-ui/2.15.3/theme-chalk/index.css" rel="stylesheet" />
  <style>
    .title {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 14px;
      background: #e5e9f2;
      border-radius: 4px;
      line-height: 30px;
      padding-left: 20px;

    }
  </style>
</head>

<body>

  <button id="btn" bindId="rose" onclick="fn('123')">点击换起vue弹框</button>


  <div id="app">
    <template>
      <el-dialog title="奖品实际应用方案" :visible.sync="centerDialogVisible" center>
        <!-- 表单 -->

        <el-form label-position="right" label-width="100px" :rules="formRules" ref="formData" :model="formData">
          <div class="title">信息</div>

          <!-- 定向名称 -->
          <el-row>
            <el-col :span="12">
              <el-form-item style="margin-right:0" label="奖品ID:" prop="user">
                <el-input class="inputWidth" v-model="formData.user" placeholder="请输入内容"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item style="margin-right:0" label="策略名称:" prop="user">
                <el-input class="inputWidth" v-model="formData.user" placeholder="请输入内容"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item style="margin-right:0" label="奖品名称:" prop="user">
                <el-input class="inputWidth" v-model="formData.user" placeholder="请输入内容"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item style="margin-right:0" label="素材源名称:" prop="user">
                <el-input class="inputWidth" v-model="formData.user" placeholder="请输入内容"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <div class="title">实际应用方案</div>
          <el-button type="primary" plain size="small">添加方案</el-button>
          <el-form-item>
            <el-button type="default" @click="onConfirm('formData')">搜索</el-button>
          </el-form-item>
        </el-form>


        <!-- 底部关闭按钮 -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="centerDialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
        </span>
      </el-dialog>

    </template>
  </div>
  <script src="./libs/vue/2.6.12/vue.min.js"></script>
  <script src="./libs/element-ui/2.15.3/index.min.js"></script>
  <script src="./libs/axios/0.21.1/axios.min.js"></script>
  <script src="./js/request.js"></script>
  <script type="module">
    import Vm from './prizePracticalApplicationScheme.js';
    window.Vm = Vm;
    console.log(Vm)
  </script>
</body>

</html>

<script>
  window.onload = function () {
    let btn = document.getElementById("btn");
    btn.addEventListener("click", function (e) {
      console.log(e.target.attributes.bindId)
      Vm.centerDialogVisible = true;
      Vm.formData.user = 456;

      setTimeout(function () {
        console.log(111)
        Vm.testFn();
      }, 3000)
    })


  }
  function fn(e, value) {
    console.log(e, value)
  }

</script>