<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>奖品定向详情</title>
  <link href="./libs/element-ui/2.15.3/theme-chalk/index.css" rel="stylesheet" />
  <style>
    /* .col-width-auto {
      width: auto;
    }

    .form-item__mb0 {
      margin-bottom: 0 !important;
    }

    .section-table th {
      text-align: left;
    }

    .section-table th,
    .section-table td {
      padding: 0 10px;
    }

    .pointer {
      cursor: pointer;
    } */

    /* .el-form-item__label{
      width:200px;
    } */

    .inputWidth {
      width: 500px;
    }

    .el-card {
      box-shadow: 0 !important;
    }
  </style>
</head>

<body>
  <div id="app">
    <template>


      <el-form label-position="right" label-width="100px" :rules="formRules" ref="formData" :model="formData">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>信息</span>
          </div>
          <!-- 定向名称 -->
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="定向名称:" prop="user">
                <el-input class="inputWidth" v-model="formData.user" placeholder="请输入内容"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <!-- 备注 -->
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="备注:" prop="remark">
                <el-input class="inputWidth" type="textarea" :rows="4" v-model="formData.remark" placeholder="请输入内容">
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>


        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>配置信息</span>
          </div>
          <!-- 定向名称 -->
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="区域:" prop="radio1">
                <el-radio-group v-model="formData.radio1">
                  <el-radio :label="1">不限制</el-radio>
                  <el-radio :label="2">省市区</el-radio>
                  <el-radio :label="3">城市线级</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
          <!-- 定向名称 -->
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="性别:" prop="radio2">
                <el-radio-group v-model="formData.radio2">
                  <el-radio :label="1">不限制</el-radio>
                  <el-radio :label="2">男</el-radio>
                  <el-radio :label="3">女</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
          <!-- 定向名称 -->
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="联网方式:" prop="radio3">
                <el-radio-group v-model="formData.radio3">
                  <el-radio :label="1">不限制</el-radio>
                  <el-radio :label="2">WIFI</el-radio>
                  <el-radio :label="3">运营商数据</el-radio>
                  <el-radio :label="4">自定义</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
          <!-- 定向名称 -->
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="扫码工具:" prop="radio4">
                <el-radio-group v-model="formData.radio4">
                  <el-radio :label="1">不限制</el-radio>
                  <el-radio :label="2">微信</el-radio>
                  <el-radio :label="3">支付宝

                  </el-radio>
                  <el-radio :label="4">其他</el-radio>
                  <el-radio :label="5">自定义

                  </el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
          <!-- 定向名称 -->
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="时段:" prop="radio5">
                <el-radio-group v-model="formData.radio5">
                  <el-radio :label="1">不限制</el-radio>
                  <el-radio :label="2">时间段</el-radio>
                  <el-radio :label="3">自定义</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
          <!-- 定向名称 -->
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="节假日:" prop="radio6">
                <el-radio-group v-model="formData.radio6">
                  <el-radio :label="1">不限制</el-radio>
                  <el-radio :label="2">法定</el-radio>
                  <el-radio :label="3">星期</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>
          <!-- 定向名称 -->
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="设备平台:" prop="radio7">
                <el-radio-group v-model="formData.radio7">
                  <el-radio :label="1">不限制</el-radio>
                  <el-radio :label="2">IOS</el-radio>
                  <el-radio :label="3">Android</el-radio>
                  <el-radio :label="4">HarmonyOS</el-radio>
                  <el-radio :label="5">自定义</el-radio>
                </el-radio-group>
              </el-form-item>
            </el-col>
          </el-row>


        </el-card>




        <el-form-item>
          <el-button type="default" @click="onConfirm('formData')">搜索</el-button>
        </el-form-item>
      </el-form>





      <!-- <el-form label-width="auto" :inline="true" :rules="formRules" ref="formData" :model="formData" class="demo-form-inline">

        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>信息</span>
          </div>
    
          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="定向名称:" prop="user">
                <el-input v-model="formData.user" placeholder="请输入内容"></el-input>
              </el-form-item>
            </el-col>
          </el-row>


          <el-row>
            <el-col :span="24">
              <el-form-item style="margin-right:0" label="备注:" prop="remark">
                <el-input type="textarea" :rows="4" v-model="formData.remark" placeholder="请输入内容"></el-input>
              </el-form-item>
            </el-col>
          </el-row>

        </el-card>





        <el-form-item>
          <el-button type="default" @click="onConfirm('formData')">搜索</el-button>
        </el-form-item>
      </el-form> -->

      <!-- <div
        style="font-weight:500;font-size:20px;background:#d7d7d7;border-radius: 4px;line-height:40px;padding-left:20px">
        信息</div>
      <div
        style="font-weight:500;font-size:20px;background:#d7d7d7;border-radius: 4px;line-height:40px;padding-left:20px">
        配置信息</div> -->


    </template>
  </div>
  <script src="./libs/vue/2.6.12/vue.min.js"></script>
  <script src="./libs/element-ui/2.15.3/index.min.js"></script>
  <script src="./libs/axios/0.21.1/axios.min.js"></script>
  <script src="./js/request.js"></script>
  <script>
    function getUrlQuery() {
      let search = location.search
      let obj = {}
      if (search) {
        let query = search.substring(1).split('&')
        query.forEach((queryItem) => {
          let keyValue = queryItem.split('=')
          let [key, value] = keyValue
          if (key) {
            obj[key] = value
          }
        })
      }
      return obj
    }

    var el = new Vue({
      el: '#app',
      data() {
        return {
          formData: {
            user: '123',
            remark: '',
            radio1: ""
          },
          formRules: {
            user: [
              { required: true, message: '请输入定向名称', trigger: 'change' },
            ],
            radio1: [
              { required: true, message: '请选择', trigger: 'change' },
            ],

          },

        }
      },
      watch: {

      },
      methods: {
        // 返回
        onCancel() {
          window.history.go(-1)
        },
        onConfirm(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              this.getStrategyAddEdit()
            } else {
              console.log('error submit!!')
              return false
            }
          })
        },
        // 新增/编辑保存表单
        getStrategyAddEdit() {
          service({
            url: '/user/strategy/inversion/create',
            method: 'post',
            data: this.formData,
          }).then(({ data }) => { })
        },

        // 编辑获取表单详情
        getDetails() {
          service({
            url: '/user/strategy/inversion/detail',
            method: 'get',
            data: {
              id: this.formData.id,
            },
          }).then(({ data }) => {
            Object.keys(this.formData).forEach((key) => {
              console.log(key, data[key])
              this.formData[key] = data[key]
            })
          })
        },
      },
      created() {
        let query = getUrlQuery()
        if (query.id) {
          this.formData.id = query.id
          this.getDetails()
        }
        // 获取项目列表
        // this.getProjectList()
      },
    })
  </script>
</body>

</html>