<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>素材源列表</title>
  <link href="./libs/element-ui/2.15.3/theme-chalk/index.css" rel="stylesheet" />
  <style>
    .expand__table {
      width: 100%;
    }

    .expand__table td {
      padding-left: 20px;
    }

    .el-table__expanded-cell {
      padding-right: 0 !important;
    }

    .pointer {
      cursor: pointer;
    }

    .tac {
      text-align: center;
    }

    .table-wrap {
      width: 100%;
      margin-bottom: 20px;
    }

    .form-item__pb0 {
      margin-bottom: 0 !important;
    }

    .el-button+.el-button {
      margin-left: 0;
    }

    .col-width-auto {
      width: auto;
    }

    .form-item__mb0 {
      margin-bottom: 0 !important;
    }

    /* 设置dialog宽度 */
    .el-dialog {
      width: 600px !important;
    }
  </style>
</head>

<body>

  <script src="./mockdata.js"></script>

  <div id="sourceListApp">
    <template>
      <el-form :inline="true" :model="filter" size="small">
        <el-form-item style="margin-right:0" label="关键字:">
          <el-input v-model="filter.sourceName" placeholder="素材源名称" :clearable="true"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSearch">查询</el-button>
          <!-- <el-button type="primary" @click="onAdd()">创建执行方案</el-button> -->
        </el-form-item>
      </el-form>

      <el-table :data="tableData" class="table-wrap" border align="center">
        <el-table-column label="素材源名称" prop="name"></el-table-column>
        <el-table-column label="素材源定向数量">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="showDirectionalList(scope.row)">10</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="150">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="onLook(scope.row)">查看</el-button>
            <el-button type="text" size="small" @click="onEdit(scope.row)">编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination class="tac" background layout="prev, pager, next" :total="page.total"
        :current-page.sync="filter.pageNum" :page-size.sync="filter.pageSize" @current-change="fetchList">
      </el-pagination>

      <!-- 奖品列表弹框 -->
      <el-dialog title="素材源定向列表" :visible.sync="directionalVisible" center>
        <div style="margin-bottom: 20px">素材源名称: {{rows.name}}</div>
        <!-- 表单 -->
        <el-form ref="directionalForm" size="mini" :inline="true" :model="directionalForm" class="demo-form-inline">
          <el-row>
            <el-col :span="12">
              <el-form-item style="margin-right:0" label="关键字:" prop="sourceName">
                <el-input v-model="directionalForm.sourceName" placeholder="请输入内容" :clearable="true"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item>
                <el-button type="default" @click="searchDirectional">搜索</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>

        <el-table :data="directionalList" class="table-wrap" :border="true" size="mini" height="250">
          <el-table-column label="序号" type="index" width="100"></el-table-column>
          <el-table-column label="定向名称" prop="name"></el-table-column>
        </el-table>
        <span slot="footer" class="dialog-footer">
          <el-button type="default" @click="directionalVisible = false">关 闭</el-button>
        </span>
      </el-dialog>
    </template>
  </div>
  <script src="./libs/vue/2.6.12/vue.min.js"></script>
  <script src="./libs/element-ui/2.15.3/index.min.js"></script>
  <script src="./libs/axios/0.21.1/axios.min.js"></script>
  <script src="./js/request.js"></script>
  <script>

    var el = new Vue({
      el: '#sourceListApp',
      data() {
        return {
          filter: {
            sourceName: '',
            pageNum: 1,
            pageSize: 10,
          },
          page: {
            total: 0,
          },
          tableData: [],
          rows: {},

          // 素材源定向列表弹框
          directionalForm: {
            sourceName: ""
          },
          directionalList: [],// 奖品列表
          directionalVisible: false, // 控制奖品列表弹框弹框的展示与隐藏
        }
      },
      computed: {},
      methods: {
        // 查看
        onLook(rows) {
          this.rows = rows;
          sessionStorage.setItem("sourceRow", JSON.stringify(rows))
          location.href = `./sourceDetail.html?id=${this.rows.id}&islook=1`
        },
        // 编辑
        onEdit(rows) {
          this.rows = rows;
          sessionStorage.setItem("sourceRow", JSON.stringify(rows))
          location.href = `./sourceDetail.html?id=${rows.id}&islook=0`
        },

        // 定向列表
        getDirectionalList() {
          let params = {
            sourceId: this.rows.id,
            pageNum: "",
            pageSize: "",
            sourceName: this.directionalForm.sourceName,
          }

          console.log(params)
          // service({
          //   url: '/prize/orientation/mList',
          //   method: 'post',
          //   data: params,
          // }).then(({ data }) => {
          let data = sourceListMainMlist.data;
          this.directionalList = data.list
          // })
        },

        // 定向列表-点击列表数字，弹出“定向列表弹框
        showDirectionalList(rows) {
          this.rows = rows;
          this.directionalList = [];
          this.directionalVisible = true;
          this.directionalForm.sourceName = "";
          this.getDirectionalList()
        },

        // 定向列表-搜索定向列表
        searchDirectional() {
          this.getDirectionalList(this.rows)
        },

        fetchList() {
          console.log(JSON.stringify(this.filter))

          // service({
          //   url: '/prize/orientation/sList',
          //   method: 'post',
          //   data: this.filter,
          // }).then(({ data }) => {
          let data = sList.data;
          this.tableData = data.list
          this.page.total = data.total
          // })
        },
        //搜索
        onSearch() {
          this.filter.pageNum = 1
          this.filter.pageSize = 10
          this.fetchList()
        }

      },
      created() {
        this.fetchList();   
 
      },
    })
  </script>
</body>

</html>